body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px; }

.main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 3rem; }

.header {
  grid-column: 1 / 2;
  padding: 1rem 0;
  justify-self: start; }
  .header__logo {
    max-width: 180px;
    height: auto;
    text-center: center;
    grid-column: 1 / 2; }

.form-group {
  position: relative; }

.form-group + .form-group {
  margin-top: 30px; }

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 0 1rem;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out; }

.focused .form-label {
  -webkit-transform: translateY(-125%);
  transform: translateY(-125%);
  font-size: .75em; }

.form-input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 #e5e5e5;
  outline: 0;
  padding: 12px 0px 5px 0;
  position: relative;
  transition: box-shadow 150ms ease-out;
  width: 100%; }

.form-input:focus {
  box-shadow: 0 2px 0 0 #ff5722; }

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen; }

.date-select {
  width: 30%; }

.forms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, 350px); }

@media (max-width: 599px) {
  .forms {
    grid-auto-rows: minmax(100px, 1fr); } }

.register {
  background-color: rgba(0, 22, 40, 0.75);
  background-blend-mode: multiply;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  grid-column: 1 / 2;
  height: calc(100% + 40%); }
  .register h2 {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #fff; }
  .register__movil {
    display: none; }

.days {
  background: rgba(0, 22, 40, 0.75);
  /* fallback for old browsers */
  border-radius: 5px;
  color: #fff;
  display: grid;
  grid-column: 2 / -1;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem; }
  .days--info {
    line-height: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%; }
    .days--info .day {
      font-size: 0.8rem; }
    .days--info .date--format {
      font-family: 'Teko', sans-serif;
      line-height: 0.8;
      text-shadow: 0 0 10px #ff0000; }
    .days--info .x1 {
      font-size: 0.8rem; }
    .days--info .x15 {
      font-size: 1.5rem; }
    .days--info .x2 {
      font-size: 2rem; }
    .days--info .x25 {
      font-size: 2.5rem; }
    .days--info .x3 {
      font-size: 3.5rem; }
    .days--info .date, .days--info .cover {
      grid-column: 1 / -1; }
    .days--info .tables {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 1 / span 2;
      grid-gap: 1rem;
      align-items: center; }
    .days--info .middle {
      border-left: 1px solid red;
      border-right: 1px solid red;
      padding: 1rem; }
  .days--img {
    grid-column: 2 / -1; }
    .days--img img {
      width: 250px; }
  .days--tickets {
    grid-column: 1 / -1; }

.bold {
  font-weight: bold; }

.footer {
  position: fixed;
  bottom: 1rem; }
  .footer img {
    width: 50px; }

.btn {
  border: none;
  color: #fff;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  letter-spacing: .3rem; }

.glow {
  cursor: pointer;
  position: relative;
  z-index: 0; }

.glow:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out; }

.glow:active:after {
  background: transparent; }

.glow:hover:before {
  opacity: 1; }

.glow:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #ff5722 0%, #fb8c00 100%);
  border-radius: 5px;
  box-shadow: 1px 1px 30px #ff6f00;
  color: #111;
  left: 0;
  top: 0; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

.neon {
  animation: neon 0.5s alternate infinite; }

@keyframes neon {
  from {
    box-shadow: 0 0 3px rgba(255, 111, 0, 0.92), 0 0 15px rgba(219, 22, 22, 0.34), 0 0 6px rgba(121, 118, 114, 0.1), 0 0 10px rgba(121, 118, 114, 0.2), 0 0 17px rgba(121, 118, 114, 0.15), 0 0 25px rgba(121, 118, 114, 0.25); }
  to {
    box-shadow: 0 0 3px rgba(255, 111, 0, 0.98), 0 0 15px rgba(255, 111, 0, 0.42), 0 0 6px rgba(121, 118, 114, 0.1), 0 0 11px rgba(121, 118, 114, 0.1), 0 0 17px rgba(121, 118, 114, 0.2), 0 0 30px #797672; } }

@media (max-width: 599px) {
  body, html {
    font-size: 14px !important; }
  .header {
    justify-self: center; }
  .register {
    position: relative;
    height: auto; }
    .register__movil {
      background: #001628;
      background-blend-mode: multiply;
      padding: 1.5rem;
      position: fixed;
      /* Make it stick/fixed */
      display: block;
      grid-column: 1/-1;
      margin-left: -30px;
      top: -150px;
      width: 100%; }
  .main {
    margin: 0 1rem; }
  .register, .days, .days--info, .days--img {
    grid-column: 1 / -1; }
  .forms {
    grid-template-rows: minmax(100px, 1fr) !important; }
  .footer {
    margin: 2rem 0;
    bottom: 0;
    position: relative; } }
