
$white: #fff;
$grid2: repeat(2, 1fr);
$grid3: repeat(3, 1fr);



body, html{
  font-family: 'Montserrat', sans-serif;
	height: 100%;
	// font-family: Poppins-Regular, sans-serif;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	font-size:16px
}

.main{
	display:grid;
	grid-template-columns:1fr;
	margin:1rem 3rem;
}

@import 'header';
@import 'forms';
@import 'register';
@import 'days';

.footer{
	position:fixed;
	bottom:1rem;
	& img {
		width: 50px;
	}
}

@import 'neon';

@import 'movil';